:root{
    --brand-1: #4C6EF5;
    --brand-2: #364FC7;
    --gray-1: #191C1F;
    --gray-2: #212529;
    --gray-3: #343A40;
    --gray-4: #ADB5BD;
    --gray-5: #CED4DA;
    --gray-6: #EDF2FF;
    --gray-7: #F8F9FA;
    --title-1: clamp(0.9rem, -1.249rem + 5.732vw, 3.25rem);
    --title-2: clamp(0.9rem, -0.563rem + 3.902vw, 2.5rem);
    --title-3: clamp(0.9rem, -0.106rem + 2.683vw, 2rem);
    --text-1: clamp(0.9rem, 0.58rem + 0.854vw, 1.25rem);
    --text-2: clamp(0.9rem, 0.694rem + 0.549vw, 1.125rem);
    --text-3: clamp(0.8rem, 0.617rem + 0.488vw, 1rem);
    --text-4: clamp(0.8rem, 0.617rem + 0.488vw, 1rem);
}