:root{
    --brand-1: #4C6EF5;
    --brand-2: #364FC7;
    --gray-1: #191C1F;
    --gray-2: #212529;
    --gray-3: #343A40;
    --gray-4: #ADB5BD;
    --gray-5: #CED4DA;
    --gray-6: #EDF2FF;
    --gray-7: #F8F9FA;
    --title-1: clamp(1rem, -1.058rem + 5.488vw, 3.25rem);
    --title-2: clamp(1rem, -0.372rem + 3.659vw, 2.5rem);
    --title-3: clamp(1rem, 0.085rem + 2.439vw, 2rem);
    --text-1: clamp(1rem, 0.771rem + 0.61vw, 1.25rem);
    --text-2: clamp(1rem, 0.886rem + 0.305vw, 1.125rem);
    --text-3: clamp(0.5rem, 0.043rem + 1.22vw, 1rem);
    --text-4: clamp(0.5rem, 0.043rem + 1.22vw, 1rem);
}