@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    max-width: 78.5rem;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    font-family: "Inter", sans-serif;
}

.header__container{
    max-width: 78.5rem;
    width: 100%;
    height: 5rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
    gap: clamp(0.5rem, -0.201rem + 2.804vw, 2rem);
    background-color: var(--gray-1);
    border-bottom: 1px solid var(--brand-1);
    z-index: 1;
}
.header__img{
    width: 11rem;
    height: 1.2rem;
}
.header__button{
    width: 12rem;
    height: 3rem;
    background-color: var(--gray-1);
    color: var(--gray-7);
    border: 1px solid var(--gray-7);
}

.main__container{
    display: flex;
    flex-flow: column nowrap;
    max-width: 78.5rem;
    width: 100%;
}

.main__section1{
    max-width: 78.5rem;
    width: 100%;
    height: 31.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(0.5rem, -0.551rem + 4.206vw, 2.75rem);
    background-color: var(--gray-2);
}
.section1__h1{
    font-size: var(--title-1);
    color: var(--gray-6);
}
.section1__h1 span{
    color: var(--brand-1);
}
.section1__p{
    width: clamp(10rem, -17.896rem + 74.39vw, 40.5rem);
    text-align: center;
    font-size: var(--text-1);
    color: var(--gray-4);
}
.section1__button{
    width: 9.062rem;
    height: 3rem;
    background-color: var(--brand-1);
    color: var(--gray-7);
    border: none;
}
.section1__button:hover{
    background-color: var(--brand-2);
}

.main__section2{
    max-width: 78.5rem;
    width: 100%;
    height: 11.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--gray-1);
}
.section2__h2{
    font-size: var(--title-2);
    color: var(--gray-6);
}
.section2__p{
    width: clamp(15rem, 5.854rem + 24.39vw, 25rem);
    color: var(--gray-5);
    text-align: justify;
}

.main__section3{
    max-width: 78.5rem;
    width: 100%;
    height: 62.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--gray-2);
    gap: clamp(1rem, 0.543rem + 1.22vw, 1.5rem);
}
.section3__div1{
    width: clamp(15rem, -1.921rem + 45.122vw, 33.5rem);
    height: 15.5rem;
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, -0.415rem + 2.439vw, 1.5rem);
    margin-top: clamp(1rem, -5.402rem + 17.073vw, 8rem);
    top: clamp(2rem, -4.745rem + 17.988vw, 9.375rem);
    margin-bottom: clamp(1rem, -0.944rem + 5.183vw, 3.125rem);
    position: sticky;
}
.section3__div1__h2{
    font-size: var(--title-2);
    color: var(--gray-6);
}
.section3__div1_p{
    width: clamp(15rem, 1.28rem + 36.585vw, 30rem);
    font-size: var(--text-1);
    color: var(--gray-4);
    text-align: justify;
}
.section3__div1__button{
    width: clamp(9rem, 0.768rem + 21.951vw, 18rem);
    height: 3rem;
    background-color: var(--brand-1);
    color: var(--gray-7);
    border: none;
}
.section3__div1__button:hover{
    background-color: var(--brand-2);
}
.section3__div2{
    width: clamp(15rem, -4.436rem + 51.829vw, 36.25rem);
    height: 60.5rem;
    margin-top: clamp(2rem, -3.488rem + 14.634vw, 8rem);
}
.section3__div2__ul{
    width: clamp(15rem, -4.436rem + 51.829vw, 36.25rem);
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: clamp(0.5rem, -2.473rem + 7.927vw, 3.75rem);
}
.section3__div2__ul__li{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 0.033rem + 1.869vw, 1.5rem);
}
.section3__div2__ul__li__h3{
    font-size: var(--title-3);
    text-align: center;
    color: var(--gray-6);
}
.section3__div2__ul_li__p{
    font-size: var(--text-1);
    color: var(--gray-4);
    text-align: justify;
}

.main__section4{
    max-width: 78.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: clamp(0.5rem, -0.668rem + 4.673vw, 3rem);
    padding-top: clamp(0.5rem, -0.668rem + 4.673vw, 3rem);
    padding-bottom: clamp(0.5rem, -0.668rem + 4.673vw, 3rem);
    background-color: var(--gray-2);
}
.section4__div1{
    width: clamp(17rem, 0.537rem + 43.902vw, 35rem);
    height: 56.25;
}
.section4__div1__ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 0.543rem + 1.22vw, 1.5rem);
}
.section4__div1__ul__li{
    display: flex;
    flex-direction: row;
    gap: clamp(1rem, 0.085rem + 2.439vw, 2rem);
}
.section4__div1__ul__li__div{
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 0.266rem + 0.935vw, 1rem);
}
.section4__div1__ul__li__div__h3{
    font-size: var(--title-3);
    color: var(--gray-6);
    width: 10rem;
}
.section4__div1__ul__li__div__p{
    font-size: var(--text-3);
    color: var(--gray-4);
}
.section4__div1__ul__li__p{
    width: clamp(190rem, 29.467rem + 428.088vw, 365.516rem);
    font-size: var(--text-2);
    color: var(--gray-5);
    text-align: justify;
}
.section4__div2{
    width: clamp(16rem, 2.052rem + 37.195vw, 31.25rem);
    height: clamp(12rem, 0.11rem + 31.707vw, 25rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: clamp(2rem, -4.174rem + 16.463vw, 8.75rem);
    background-color: var(--brand-1);
}
.section4__div2__h2{
    width: clamp(12rem, 0.11rem + 31.707vw, 25rem);
    font-size: var(--title-2);
    color: var(--gray-7);
    margin-bottom: clamp(1rem, -2.659rem + 9.756vw, 5rem);
}
.section4__div2__p{
    width: clamp(12rem, 0.11rem + 31.707vw, 25rem);
    font-size: var(--text-1);
    color: var(--gray-7);
    text-align: justify;
}

.footer__container{
    max-width: 78.5rem;
    width: 100%;
    height: 5rem;
    background-color: var(--gray-1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__img{
    width: 11rem;
    height: 1.2rem;
}

.dialog__container{
    width: 31.25rem;
    height: 25rem;
    margin-left: clamp(12.5rem, 1.639rem + 28.963vw, 24.375rem);
    margin-top: 6.25rem;
    background-color: var(--gray-2);
    border: 2px solid var(--brand-1);
}
.dialog__container::backdrop{
    background-color: rgb(25, 28, 31,0.8);
}
.dialog__form{
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, -0.201rem + 2.804vw, 2rem);
    margin-top: clamp(0.5rem, -0.435rem + 3.738vw, 2.5rem);
    margin-left: clamp(0.5rem, 0.266rem + 0.935vw, 1rem);
    margin-right: clamp(0.5rem, 0.266rem + 0.935vw, 1rem);
    background-color: var(--gray-2);
}
.dialog__form__div{
    display: flex;
    justify-content: space-between;
    padding-right: clamp(0.5rem, 0.266rem + 0.935vw, 1rem);
    padding-left: clamp(0.5rem, 0.266rem + 0.935vw, 1rem);
}
.dialog__form__div__h3{
    font-size: var(--title-3);
    color: var(--gray-7);
}
.dialog__form__div__button{
    width: 2rem;
    height: 2rem;
    background-color: var(--gray-3);
    border-radius: 0.25rem;
    border: none;
    color: var(--gray-4);
}
.dialog__form__p{
    font-size: var(--text-3);
    color: var(--gray-5);
    padding-right: clamp(0.5rem, 0.266rem + 0.935vw, 1rem);
    padding-left: clamp(0.5rem, 0.266rem + 0.935vw, 1rem);
}
.dialog__form__input{
    width: 95%;
    height: 3.125rem;
    align-self: center;
    background-color: var(--gray-1);
    padding-left: clamp(0.5rem, 0.266rem + 0.935vw, 1rem);
    align-self: center;
    border: none;
    color: var(--gray-4);
}
.dialog__form__button{
    width: 95%;
    height: 3.125rem;
    align-self: center;
    background-color: var(--brand-1);
    border: none;
    color: var(--gray-7);
}
.dialog__form__button:hover{
    background-color: var(--brand-2);
}

@media(width:1024px){
    .dialog__container{
        margin: 11.25rem auto;
    }
    .dialog__form{
        gap: 1.5rem;
    }
    .dialog__form__div__h3{
        font-size: calc(var(--title-3) * 1.6);
        color: var(--gray-7);
    }
    .dialog__form__p{
        font-size: calc(var(--text-3) * 1.4);
    }
    
}

@media(max-width:768px){
    .header__container{
        max-width: 48rem;
        width: 100%;
        height: 5rem;
    }
    
    .section1__p{
        width: calc(clamp(10rem, -17.896rem + 74.39vw, 40.5rem) * 1.5);
        text-align: center;
        font-size: var(--text-1);
        color: var(--gray-4);
    }

    .main__section3{
        max-width: 78.5rem;
        width: 100%;
        height: 45.5rem;
        display: flex;
        flex-direction: column;
        justify-content:center;
        background-color: var(--gray-2);
        padding-left: 1.875rem;
        padding-right: 1.875rem;
        gap: 0.4rem;
    }
    .section3__div1{
        width: 100%;
        height: 15.5rem;
        display: flex;
        flex-direction: column;
        gap: clamp(0.5rem, -0.415rem + 2.439vw, 1.5rem);
        margin-top: 2.5rem;
        margin-bottom: clamp(1rem, -0.944rem + 5.183vw, 3.125rem);
        position: static;
    }
    .section3__div1__h2{
        font-size: var(--title-2);
        color: var(--gray-6);
        align-self: center;
    }
    .section3__div1_p{
        width: 100%;
        font-size: var(--text-1);
        color: var(--gray-4);
        text-align: justify;
    }
    .section3__div1__button{
        width: 100%;
        height: 3rem;
        background-color: var(--brand-1);
        color: var(--gray-7);
        border: none;
    }
    .section3__div2{
        width: 100%;
        height: 60.5rem;
        margin-top: 0.5rem
    }
    .section3__div2__ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: clamp(0.5rem, -2.473rem + 7.927vw, 3.75rem);
    }
    .section3__div2__ul__li{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: clamp(0.5rem, 0.033rem + 1.869vw, 1.5rem);
    }

    .main__section4{
        max-width: 78.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: clamp(0.5rem, -0.668rem + 4.673vw, 3rem);
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: var(--gray-2);
        position: relative;
    }
    .section4__div1{
        width: 100%;
        height: 56.25;
        margin-top: 11.375rem;
    }
    .section4__div1__ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: clamp(1rem, 0.543rem + 1.22vw, 1.5rem);
    }
    .section4__div1__ul__li{
        display: flex;
        flex-direction: column;
        gap: clamp(1rem, 0.085rem + 2.439vw, 2rem);
    }
    .section4__div1__ul__li__div{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }
    .section4__div1__ul__li__div__h3{
        font-size: var(--title-3);
        color: var(--gray-6);
        width: 8rem;
    }
    .section4__div1__ul__li__div__p{
        font-size: var(--text-3);
        color: var(--gray-4);
        align-self: center;
    }
    .section4__div1__ul__li__p{
        width: 100%;
        font-size: var(--text-2);
        color: var(--gray-5);
        text-align: justify;
    }
    
    .section4__div2{
        width: 97%;
        height: 9.375rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 19px;
        top: 20px;
        background-color: var(--brand-1);
    }
    .section4__div2__h2{
        width: 100%;
        font-size: var(--title-2);
        color: var(--gray-7);
        margin-bottom: clamp(1rem, -2.659rem + 9.756vw, 5rem);
        margin-left: 2.065rem;
        text-align: center;
    }
    .section4__div2__p{
        width: 95%;
        font-size: var(--text-1);
        color: var(--gray-7);
        text-align: justify;
        margin-left: 1.875rem;
        margin-right: 1.875rem;
    }

    .dialog__container{
        margin: 5rem auto;
    }
    .dialog__form{
        gap: 2.5rem;
    }
    .dialog__form__div__h3{
        font-size: calc(var(--title-3) * 1.6);
        color: var(--gray-7);
    }
    .dialog__form__p{
        font-size: calc(var(--text-3) * 1.5);
    }
}

@media(max-width:425px){
    .header__container{
        max-width: 26.562rem;
        width: 100%;
        height: 5rem;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        gap: 5rem;
    }
    .header__img{
        width: 9rem;
        height: 2rem;
    }
    .header__button{
        width: 8rem;
        height: 2.5rem;
        background-color: var(--gray-1);
        color: var(--gray-7);
        border: 1px solid var(--gray-7);
        font-size: 0.6rem;
    }

    .main__section1{
        gap: calc(clamp(0.5rem, -0.551rem + 4.206vw, 2.75rem) * 2);
    }
    .section1__p{
        width: calc(clamp(10rem, -17.896rem + 74.39vw, 40.5rem) * 2);
    }

    .section2__h2{
        margin-left: 0.5rem;
    }
    .section2__p{
        font-size: 0.9rem;
        margin-right: 0.5rem;
    }

    .main__section3{
        height: 55.5rem;
        gap: 0.5rem;
    }
    .section3__div1{
        gap: 1rem;
    }

    .section4__div2{
        right: 5px;
    }

    .footer__img{
        width: 9rem;
        height: 2rem;
    }

    .dialog__container{
        width: 16.25rem;
        height: 17rem;
        margin: 150px auto
    }

    .dialog__form{
        gap: 1rem;
    }
    .dialog__form__div__h3{
        font-size: 1.3rem;
        color: var(--gray-7);
    }
    .dialog__form__p{
        font-size: 0.7rem;
    }
}