@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    max-width: 78.5rem;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    font-family: "Inter", sans-serif;
}

.header__container{
    max-width: 78.5rem;
    width: 100%;
    height: 5rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    gap: clamp(0.5rem, -0.201rem + 2.804vw, 2rem);
    background-color: var(--gray-1);
    border-bottom: 1px solid var(--brand-1);
    z-index: 1;
}
.header__img{
    width: 11rem;
    height: 1.2rem;
}
.header__button{
    width: 12rem;
    height: 3rem;
    background-color: var(--gray-1);
    color: var(--color-white);
    border: 1px solid var(--color-white);
}

.main__container{
    display: flex;
    flex-flow: column nowrap;
    max-width: 78.5rem;
    width: 100%;
}

.main__section1{
    max-width: 78.5rem;
    width: 100%;
    height: 31.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(0.5rem, -0.551rem + 4.206vw, 2.75rem);
    background-color: var(--gray-2);
}
.section1__h1{
    font-size: var(--title-1);
    color: var(--color-white);
}
.section1__h1 span{
    color: var(--brand-1);
}
.section1__p{
    width: clamp(10rem, -4.252rem + 57.009vw, 40.5rem);
    text-align: center;
    font-size: var(--text-1);
    color: var(--gray-4);
}
.section1__button{
    width: 9.062rem;
    height: 3rem;
    background-color: var(--brand-1);
    color: var(--color-white);
    border: none;
}
.section1__button:hover{
    background-color: var(--brand-2);
}

.main__section2{
    max-width: 78.5rem;
    width: 100%;
    height: 11.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--gray-1);
}
.section2__h2{
    font-size: var(--title-2);
    color: var(--color-white);
}
.section2__p{
    width: clamp(10rem, 2.991rem + 28.037vw, 25rem);
    color: var(--gray-5);
    text-align: justify;
}

.main__section3{
    max-width: 78.5rem;
    width: 100%;
    height: 62.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--gray-2);
    gap: clamp(0.5rem, 0.033rem + 1.869vw, 1.5rem);
}
.section3__div1{
    width: 33.5rem;
    height: 15.5rem;
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 0.033rem + 1.869vw, 1.5rem);
    margin-top: clamp(1rem, -2.271rem + 13.084vw, 8rem);
    top: clamp(2rem, -1.446rem + 13.785vw, 9.375rem);
    margin-bottom: clamp(1rem, 0.007rem + 3.972vw, 3.125rem);
    position: sticky;
}
.section3__div1__h2{
    font-size: var(--title-2);
    color: var(--color-white);
}
.section3__div1_p{
    width: clamp(15rem, 7.991rem + 28.037vw, 30rem);
    font-size: var(--text-1);
    color: var(--gray-4);
    text-align: justify;
}
.section3__div1__button{
    width: 18rem;
    height: 3rem;
    background-color: var(--brand-1);
    color: var(--color-white);
    border: none;
}
.section3__div1__button:hover{
    background-color: var(--brand-2);
}
.section3__div2{
    width: 36.25rem;
    height: 60.5rem;
    margin-top: clamp(2rem, -0.804rem + 11.215vw, 8rem);
}
.section3__div2__ul{
    width: 36.25rem;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: clamp(0.5rem, -1.019rem + 6.075vw, 3.75rem);
}
.section3__div2__ul__li{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 0.033rem + 1.869vw, 1.5rem);
}
.section3__div2__ul__li__h3{
    font-size: var(--title-3);
    text-align: center;
    color: var(--color-white);
}
.section3__div2__ul_li__p{
    font-size: var(--text-1);
    color: var(--gray-4);
    text-align: justify;
}

.main__section4{
    max-width: 78.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: clamp(0.5rem, -0.668rem + 4.673vw, 3rem);
    padding-top: clamp(0.5rem, -0.668rem + 4.673vw, 3rem);
    padding-bottom: clamp(0.5rem, -0.668rem + 4.673vw, 3rem);
    background-color: var(--gray-2);
}
.section4__div1{
    width: 35rem;
    height: 56.25;
}
.section4__div1__ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 0.033rem + 1.869vw, 1.5rem);
}
.section4__div1__ul__li{
    display: flex;
    flex-direction: row;
    gap: clamp(0.5rem, -0.201rem + 2.804vw, 2rem);
}
.section4__div1__ul__li__div{
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 0.266rem + 0.935vw, 1rem);
}
.section4__div1__ul__li__div__h3{
    font-size: var(--title-3);
    color: var(--color-white);
    width: 10rem;
}
.section4__div1__ul__li__div__p{
    font-size: var(--text-3);
    color: var(--gray-4);
}
.section4__div1__ul__li__p{
    font-size: var(--text-2);
    color: var(--gray-5);
    text-align: justify;
}

.section4__div2{
    width: 31.25rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: clamp(2rem, -1.154rem + 12.617vw, 8.75rem);
    background-color: var(--brand-1);
}
.section4__div2__h2{
    width: 25rem;
    font-size: var(--title-2);
    color: var(--color-white);
    margin-bottom: clamp(1rem, -0.869rem + 7.477vw, 5rem);
}
.section4__div2__p{
    width: 25rem;
    font-size: var(--text-1);
    color: var(--gray-7);
    text-align: justify;
}

.footer__container{
    max-width: 78.5rem;
    width: 100%;
    height: 5rem;
    background-color: var(--gray-1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__img{
    width: 11rem;
    height: 1.2rem;
}

.dialog__container{
    width: 31.25rem;
    height: 25rem;
    margin-left: 24.375rem;
    margin-top: 6.25rem;
    background-color: var(--gray-2);
    border: 2px solid var(--brand-1);
}
.dialog__container::backdrop{
    background-color: rgb(25, 28, 31,0.8);
}
.dialog__form{
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, -0.201rem + 2.804vw, 2rem);
    margin-top: clamp(0.5rem, -0.435rem + 3.738vw, 2.5rem);
    margin-left: clamp(0.5rem, 0.266rem + 0.935vw, 1rem);
    margin-right: clamp(0.5rem, 0.266rem + 0.935vw, 1rem);
    background-color: var(--gray-2);
}
.dialog__form__div{
    display: flex;
    justify-content: space-between;
    padding-right: clamp(0.5rem, 0.266rem + 0.935vw, 1rem);
    padding-left: clamp(0.5rem, 0.266rem + 0.935vw, 1rem);
}
.dialog__form__div__h3{
    font-size: var(--title-3);
    color: var(--gray-7);
}
.dialog__form__div__button{
    width: 2rem;
    height: 2rem;
    background-color: var(--gray-3);
    border-radius: 0.25rem;
    border: none;
    color: var(--gray-4);
}
.dialog__form__p{
    font-size: var(--text-3);
    color: var(--gray-5);
    padding-right: clamp(0.5rem, 0.266rem + 0.935vw, 1rem);
    padding-left: clamp(0.5rem, 0.266rem + 0.935vw, 1rem);
}
.dialog__form__input{
    width: 95%;
    height: 3.125rem;
    align-self: center;
    background-color: var(--gray-1);
    padding-left: clamp(0.5rem, 0.266rem + 0.935vw, 1rem);
    align-self: center;
    border: none;
    color: var(--gray-4);
}
.dialog__form__button{
    width: 95%;
    height: 3.125rem;
    align-self: center;
    background-color: var(--brand-1);
    border: none;
    color: var(--gray-7);
}
.dialog__form__button:hover{
    background-color: var(--brand-2);
}